<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="arjasb_mobile.Properties.Settings.ClientARJASB_MOBILE_DBConnectionString"
      connectionString="Data Source=|DataDirectory|\ARJASB-MOBILE-DB.sdf;Max Database Size=2047"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="arjasb_mobile.Properties.Settings.arjasb_mobile_DBConnectionString"
      connectionString="Data Source=.\;Initial Catalog=ArjasbMobile-DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
